---
---

@import "main";

h1-main-title {
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  white-space: normal !important; 
  overflow: visible !important; 
  text-overflow: clip !important;  
}


h1, h2, h3 {
  margin-bottom: 30px !important; /* Regola i pixel a tuo piacimento */
}
