---
---

@import "main";

h1-main-title {
@extend h1;
  display: block !important;
  width: 100% !important;
  text-align: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: clamp(1.2rem, 2vw, 2.5rem);
  white-space: normal !important;
  overflow: visible !important;
  text-overflow: clip !important;
}




