<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url={{ site.current_year }}">
        <script type="text/javascript">
            window.location.href = "{{ site.current_year }}"
        </script>
        <title>ACM SIGSIM PADS</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a href='{{ site.current_year }}'>link to the current-year edition of PADS</a>.
    </body>
</html>
